@model List<GestionDocumental.Models.ListViewMunicipio>

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Municipio", "Create")
</p>

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Municipio
        </th>
        <th>
            Funciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMunicipio)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                @Html.ActionLink(".", "Edit", new { id = item.Id }, new { @class = " btn btn-secondary glyphicon glyphicon-edit", style = "color: black" })
            </td>
        </tr>
    }

</table>

