@model IEnumerable<GestionDocumental.Models.ListViewDocumento>

<p>
    @Html.ActionLink("Crear solicitud", "Create") <!---->
</p>
<table class="table">
    <tr>
        <th>
            Id Documento
        </th>
        <th>
            Fecha Radicado
        </th>
        <th>
            Fecha Documento
        </th>
        <th>
            Fecha Vence
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_TipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRadicado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaVence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
